<div ng-include="'tpl/include/header.html'"></div>

  <div class="container ">
      <div class="row bg-a">
          <div class="col-xs-12 ">
              <h1 class="text-center text-info"  style="font-size: 36px">让做饭变得刚简单</h1>
              <h2 class="text-center ">新鲜的食材，简单的菜谱，配送到家</h2>
              <button class="btn btn-success col-center-block btn-lg btn-block btn-bx" ng-click="jump('/main')">点击选购</button>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 ">
                <h1 class="text-center">从门口收取到晚餐只需要30分钟</h1>
                <p class="text-center">天一每日送餐服务提供了简单的食谱和营养</p>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12  col-md-4">
                <img class="img-xx center-block" src="img/14.png" alt="">
                <h3 class="text-center">自己动手</h3>
                <p class="text-center">天一遵循科学的饮食结合，包括碳水化合物和热量,蔬果宜鲜,质量宜高合理的搭配</p>
          </div>
          <div class="col-xs-12 col-md-4">
              <img class="img-xx center-block" src="img/15.png" alt="">
              <h3 class="text-center">你来选择</h3>
              <p class="text-center">随时下单，调整您的膳食，改善体质，合理的安排您每天的饮食结构</p>
          </div>
          <div class="col-xs-12 col-md-4">
              <img class="img-xx center-block" src="img/5.png" alt="">
              <h2 class="text-center">同城30分钟</h2>
              <p class="text-center">下单后，天一配送将在30分钟后，配送至您家</p>
              <button ng-click="jump('/main')" class="btn btn-danger col-center-block btn-lg btn-block btn-bx">马上去选购</button>
              <hr class="kf-hr">
          </div>


          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
              <h3 class="text-center">从我们的菜单中，选择你最喜欢做的菜</h3>
              <p class="text-center">我们就地取材，而且，我们的厨师秉持了丰富的中餐烹调传统，进行过正规的训练。团队由众多五星级和白金五星级西厨组成，用心打造每一款菜品.</p>
          </div>
          <div class="col-xs-12 ">
             <div class="container">
                 <div id="myCarousel" class="carousel slide">
                     <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"></li>
                         <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                         <div class="item active">
                             <img src="img/11.jpg" alt="First slide">
                         </div>
                         <div class="item">
                             <img src="img/12.jpg" alt="Second slide">
                         </div>
                         <div class="item">
                             <img src="img/13.jpg" alt="Third slide">
                         </div>
                     </div>
                     <!-- 轮播（Carousel）导航 -->
                     <a class="carousel-control left" href="#myCarousel"
                        data-slide="prev">&lsaquo;</a>
                     <a class="carousel-control right" href="#myCarousel"
                        data-slide="next">&rsaquo;</a>
                 </div>
             </div>
              <div class="col-xs-12">
                  <button ng-click="jump('/main')" class="btn btn-danger col-center-block btn-lg btn-block btn-bx btn-clea">马上去选购</button>
                  <hr class="kf-hr">
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col-xs-12 col-md-3">
              <div >
                <img class="img-xx center-block" src="img/17.png" alt="">
              </div>
              <h3 class="text-center">我们创造美式</h3>
              <p class="text-center">由我们的厨师，精心挑配</p>
          </div>
          <div class="col-xs-12 col-md-3">
              <img class="img-xx center-block" src="img/18.png" alt="">
              <h3 class="text-center">自己选配</h3>
              <p class="text-center">我们根据您的的喜好，精心选配，或者由您自己选</p>
          </div>
          <div class="col-xs-12 col-md-3">
              <img class="img-xx center-block" src="img/19.png" alt="">
              <h3 class="text-center">我们送货上门</h3>
              <p class="text-center">您的菜品可保持新鲜，当地采摘，当地配送，直到家门</p>
          </div>
          <div class="col-xs-12 col-md-3">
              <img class="img-xx center-block" src="img/20.png" alt="">
              <h3 class="text-center">美食出自您的手中</h3>
              <p class="text-center">无论是初学者或者是大师都能在30分钟内完成家常便饭</p>
          </div>
      </div>
  </div>








